backend/bin/Debug/net6.0/appsettings.json
backend/bin/Debug/net6.0/backend
backend/bin/Debug/net6.0/backend.deps.json
backend/bin/Debug/net6.0/backend.dll
backend/bin/Debug/net6.0/backend.pdb
backend/bin/Debug/net6.0/backend.runtimeconfig.json
backend/bin/Debug/net6.0/Microsoft.OpenApi.dll
backend/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
backend/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
backend/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
backend/bin/Debug/net6.0/ref/backend.dll
backend/obj/backend.csproj.nuget.dgspec.json
backend/obj/backend.csproj.nuget.g.props
backend/obj/backend.csproj.nuget.g.targets
backend/obj/project.assets.json
backend/obj/project.nuget.cache
backend/obj/staticwebassets.pack.sentinel
backend/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
backend/obj/Debug/net6.0/apphost
backend/obj/Debug/net6.0/backend.AssemblyInfo.cs
backend/obj/Debug/net6.0/backend.AssemblyInfoInputs.cache
backend/obj/Debug/net6.0/backend.assets.cache
backend/obj/Debug/net6.0/backend.csproj.AssemblyReference.cache
backend/obj/Debug/net6.0/backend.csproj.CopyComplete
backend/obj/Debug/net6.0/backend.csproj.CoreCompileInputs.cache
backend/obj/Debug/net6.0/backend.csproj.FileListAbsolute.txt
backend/obj/Debug/net6.0/backend.dll
backend/obj/Debug/net6.0/backend.GeneratedMSBuildEditorConfig.editorconfig
backend/obj/Debug/net6.0/backend.genruntimeconfig.cache
backend/obj/Debug/net6.0/backend.GlobalUsings.g.cs
backend/obj/Debug/net6.0/backend.MvcApplicationPartsAssemblyInfo.cache
backend/obj/Debug/net6.0/backend.MvcApplicationPartsAssemblyInfo.cs
backend/obj/Debug/net6.0/backend.pdb
backend/obj/Debug/net6.0/staticwebassets.build.json
backend/obj/Debug/net6.0/ref/backend.dll
