/* =============== Debug =================*/

.dbg-0{border: 1px solid #069}
.dbg-1{border: 1px solid #0F9}
.dbg-2{border: 1px solid #CC9}
.dbg-3{border: 1px solid #F6F}
.dbg-4{border: 1px solid #00F}
.dbg-5{border: 1px solid #0F0}

/* =============== Main =================*/

dl, dd, form{padding: 0; margin: 0;}
input[type="text"]{width: 400px;border-radius: 0;height: 20px; padding: 4px;border: 1px solid #CCC;margin-right: 5px;outline: none;}
input[type="reset"]{border-radius: 50%; border: none;font-size: 11px;padding: 8px 10px;cursor: pointer;}

button{border-radius: 50%;background: none;border: 3px solid #FFF; border-top: 3px solid #069;border-right: 3px solid #069;height:20px; width:20px;}

button{animation: spinner 1s linear infinite;}
@keyframes spinner{0%{ transform: rotate(0deg); }100%{ transform: rotate(360deg); }}

dl{width: 408px;overflow: auto;position:absolute; max-height: 134px;border: 1px solid #CCC; border-top: none;}
dd{padding: 8px;cursor: pointer;font-size: 14px;}
dd:hover{background-color: rgb(232, 232, 232);}

article{ border-radius: 10px; background-color: rgb(229, 229, 229); font-size: 14px; width: 300px;padding:30px 20px;margin-top:20px; }
article strong{ opacity: 0.3; }
article h1{text-transform: uppercase;font-size: 18px;margin:10px 0;}
article em{ opacity: 0.6; }

/* =========== Field (Toggle) ===========*/

form dl{max-height: 0px;display: none;background-color: white;}
form.has-data dl{max-height: 134px;display: inline;}

/* =========== Reset (Toggle) ===========*/

form input[type="reset"]{display: none;}
form.has-data input[type="reset"],
form.invalid input[type="reset"],
form.empty input[type="reset"]{display: inline;}

/* =========== Spinner (Toggle) ===========*/

form.loading button{display: inline;}
form button,
form.has-data button,
form.invalid button,
form.empty button{display: none;}

/* =========== Input (Invalid) ===========*/

form.invalid input[type="text"]{border-color: red;}

/* =========== Fullname (Found) ===========*/

h1 span{ background-color: yellow; }