table

    width: 100%
    text-align: center
    font-family: 'Roboto', 'Arial', sans-serif

    thead
        tr
            background-color: #292929
            color: #d4d4d4
            th
                padding: 5px 0
    
    tbody
        tr
            &:nth-child(even)
                background-color: #bdbdbd
                color: #505050
            &:nth-child(odd)
                background-color: #e8e8e8
                color: #505050
            td
                padding: 8px 0
                font-size: 0.8em
    