*{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  text-align: center;
  margin-top: 10px;
}

nav button{
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
}

nav button.active{
  background-color: #000;
  color: white;
}

nav button:nth-child(2){
  margin: 0 10px;
}

table{
  width: 90%;
  margin: 10px auto;
}

table, table tr, table tr th, table tr td{
  border: 1px solid rgba(80, 80, 80, 0.5);
  text-align: center;
}

table tr th{
  background-color:#000;
  color: white;
  padding: 8px 0;
  text-transform: uppercase;
}